{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-4 text-center text-white">
                <h1 class="mt-5">Contact</h1>
                {{ form_start(Form) }}

                <div class="form-group">
                {{ form_label(Form.firstName) }}
                {{ form_widget(Form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(Form.lastName) }}
                    {{ form_widget(Form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(Form.company) }}
                    {{ form_widget(Form.company, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(Form.email) }}
                    {{ form_widget(Form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(Form.phone) }}
                    {{ form_widget(Form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(Form.content) }}
                    {{ form_widget(Form.content, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(Form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Send message'}) }}
                </div>
                {{ form_end(Form) }}
            </div>
        </div>
    </div>
{% endblock %}
